.ImageBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: 500px;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageBackground img {
    width: fit-content;
    max-width: 90%;
    height: fit-content;
    max-height: 90%;
    object-fit: contain;
}